.heading{
    font-family: algerian;
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
    color: aqua
}
#heading1{
    text-decoration: line-through;
    color: lightseagreen;
    background-color:antiquewhite ;
}
